*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
.display-Background{
    width: 100%;
    height: 100vh; 
   
}
strong{
font-weight: 900;
font-size: 3rem;
}
.Heading{
width: 50%;
font-weight: 900;
font-size: 3rem;
text-align: center;
margin: auto;
text-transform: capitalize;
text-shadow: 1px 3px 10px rgb(163 206 226 / 80%);
color: rgba(48, 3, 65, 0.733);
position: relative;
top: 50%;
 border: 1px solid;
padding: 1rem;
border-top-left-radius: 2rem;
     border-top-right-radius: 0rem;
     border-bottom-left-radius: 0rem;
     border-bottom-right-radius: 2rem;
 background-color: #d4c7c7;
}
.Heading:hover{
    width: 55%;
    font-size: 3.5rem;
    text-shadow: 1px 3px 15px rgba(116, 188, 222, 0.8);
    color: rgba(42, 3, 91, 0.733);
     border: 1px dotted palevioletred;
     background-color: #bfeae9; 
border-radius: 2rem;
     
}